<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <title></title>
      <input
        matInput
        placeholder="Post Title"
        type="text"
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>
    <div style="margin-bottom: 10px">
      <button mat-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="
        imagePreview !== '' &&
        imagePreview !== undefined &&
        form.get('image').valid
      "
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        placeholder="Post Content"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Please enter post content.</mat-error
      >
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="accent"
      [disabled]="!form.valid"
    >
      Save Post
    </button>
  </form>
</mat-card>
